@charset "utf-8";

/*視窗背景色設定*/
body
{
   background-color: rgb(248, 209, 137);
   background-image: url(../img/bg.jpg);
   background-repeat: repeat-x;
}

/*連結顏色設定*/
a{
    color:#df4839;
    text-decoration: none;
}
a:hover{
    color:#ff705b;
    background-color: #f6bb9e;
}

/*頁首,導覽,頁尾的共通設定*/
header,nav,footer{
    text-align: center;
}

/*導覽樣式設定*/
.menu li{
    list-style-type: none;
    display: inline-block;
    width: 180px;
    margin: 0 10px;
}
.menu a{
    display: block;
    padding: 10px;
    background: #6fbb9a;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    background: #90ddbb;
}

/*頁面標題設定*/
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #91e9c3;
    border-radius: 50%;
    background-color: #6fbb9a;
    color: #fff;
    font-size: 350%;
    text-align: center;
    line-height: 1;
    background-image: linear-gradient(to bottom,#6fbb9a,#4a9d79);
    font-family: 'Rubik Bubbles',cursive;
    transition: background-color ease 5s;
    transition: color ease-in 5s;
    text-shadow:  1px 1px 2px #307657;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-image: linear-gradient(to bottom, #6fbb9a, #4a9d79);
}
h1:hover{
    color:#83ff89;
    background-color: #5b310a;
}


/*次標題設定*/
.h{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #4175e6;
    color: #3fa177;
    font-family: 'Darumadrop One',cursive;
}

/*小標題設定*/
.h-sub span{
    text-align: center;
}

/*內容區塊邊框設定*/
#contents{
    width: 960px;
    margin: 40px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9e;
    background-color: #fff;
}

/*「更多介紹」連結設定*/
.more{
    text-align:right;
}
.more::after{
    content:url(../img/ico_arrow.png);
    margin-left:3px;
    vertical-align: middle;
}

/*連結圖示設定*/


/*區塊間分隔*/
#contents > section + section{
    margin-top: 80px;
}

/*文繞圖設定*/
.imgl{
    float: left;
    margin-right: 20px;
}
.imgr{
    float: right;
    margin-left: 20px;
}
.clear{
    clear: both;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/*圓形圖片設定*/
.photo{
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(0 0 0 / 50%);
}

